<app-navbar></app-navbar>
<div class="container-fluid bg-light min80vh">
  <div class="container pt-3 pb-3">
    <div class="row">
      <div class="col-12 col-md-6 pb-4">
        <h2 class="text-primary">Agregar fondos</h2>
        <p class=" mb-3">
          Con tu billetera Nimbus puedes cambiar tus Bolivares
          a Dolares y retirarlos cuando los necesites</p>
        <div class="mb-3 bg-white shadow p-3 radius">
          Envias
          <div class="input-group pb-2">
            <input [(ngModel)]="vesModel" (keyup)="calcula()" type="number" class="form-control imput-change">
            <div class="btn-group" role="group">
              <button type="button" class="border-light btn btn-light select-money2 min-btn-calc">
                <img class="img-flag" src="../../../assets/img-monedas/ve.svg" alt="" srcset="">
                VES
              </button>
            </div>
          </div>
          Recibes
          <p class="saldox mt-2">
            Saldo <b class="">Nimbus Wallet</b>
          </p>
          <p class=" mb-2">
            <b class="saldoUsd">{{ recibes | currency: '$USD '}}</b>
          </p>

          <p class="gray">Cotizacion del dolar: {{ preciodolar.precio | currency:'Bs.' }}</p>

        </div>
      </div>
      <div class="col-12 col-md-6 pb-4">
        <div class="bg-white shadow mb-3 p-3">
          <h3 class="text-primary">Bancos disponible</h3>
          <p class=" pb-3">
            Elija el banco de donde enviara
          </p>
          <select id="banco" [(ngModel)]="banco" class="form-select">
            <option value="Venezuela">Venezuela</option>
            <option value="Banesco">Banesco</option>
            <option value="BOD">BOD</option>
            <option value="PagoMovil">PagoMovil</option>
          </select>

          <div *ngIf="banco == 'Venezuela'" class="card mb-3 mt-2">
            <div class="card-header text-white bg-danger">Banco De Venezuela</div>
            <div class="card-body">
              <div class="w-bancos-{{banco}} px-2">
                <b>Cuenta:</b> 0102003156545654<br>
                <b>CI:</b> 84565465<br>
                <b>Tipo:</b> Corriente<br>
                <b>Titular:</b> Leonel Patiño
              </div>
            </div>
          </div>

          <div *ngIf="banco == 'Banesco'" class="card mb-3 mt-2">
            <div class="card-header text-white bg-success">
              Banesco</div>
            <div class="card-body">
              <div class="w-bancos-{{banco}} px-2">
                <b>Cuenta:</b> 0131003156545654<br>
                <b>CI:</b> 84565465<br>
                <b>Tipo:</b> Corriente<br>
                <b>Titular:</b> Leonel Patiño
              </div>
            </div>
          </div>

          <div *ngIf="banco == 'BOD'" class="card mb-3 mt-2">
            <div class="card-header text-white bg-primary">
              BOD</div>
            <div class="card-body">
              <div class="w-bancos-{{banco}} px-2">
                <b>Cuenta:</b> 0131003156545654<br>
                <b>CI:</b> 84565465<br>
                <b>Tipo:</b> Corriente<br>
                <b>Titular:</b> Leonel Patiño
              </div>
            </div>
          </div>

          <div *ngIf="banco == 'PagoMovil'" class="card mb-3 mt-2">
            <div class="card-header text-white bg-primary">
              PagoMovil</div>
            <div class="card-body">
              <div class="w-bancos-{{banco}} px-2">
                <b>Telfeno:</b> 04141235456<br>
                <b>CI:</b> 84565465<br>
                <b>Titular:</b> Leonel Patiño
              </div>
            </div>
          </div>
          <button (click)="confirmTransaction()" class="btn btn-success mt-3">Confirmar transaccion</button>

        </div>

      </div>
    </div>

  </div>
</div>

<app-footer></app-footer>