<div class="container-fluid py-4 border-top">
    <div class="row">
        <div class="col-12 pb-3  text-center text-light">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                  <a class="nav-link text-white" [routerLink]="['/politics']" routerLinkActive="router-link-active"  >Privacidad</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" [routerLink]="['/contact']" routerLinkActive="router-link-active" >Contactanos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" [routerLink]="['/califications']" routerLinkActive="router-link-active" >Calificar</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12 pt-3 text-center text-light">
            <img src="../../../assets/logo-criptoclouds-white.svg" height="60px" alt=""><br>
            criptoclouds.com
        </div>
    </div>
</div>
