<header class="header-blue line-bottom">
    <div class="container-fluid">
        <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="text-center pt-3">
                <a routerLink="home">
                    <img src="../../../assets/logo-criptoclouds-white.svg" class="img-logo" alt="">
                </a>
                <h3 class="text-white p-0 m-0 brand">CriptoClouds</h3>
            </div>
        </div>
        <div class="col-2 pt-3">
          <!-- d-md-none -->
            <button class="menubtn"  (click)="alerta()">
              <img class="menu-ico" src="../../../assets/menu-ico.svg" alt="" srcset="">
            </button>
        </div>
        </div>
    </div>
</header>
  
  <!-- <div id="myDIV" class="hover-menu d-md-none" >
    <button class="boton-x" onclick="closeMenu()">
      <i class="bi bi-x-lg"></i>
    </button>
    <h1>Menu</h1>
    <div class="list-group list-group-flush">
      <button routerLink="home" onclick="closeMenu()" type="button" class="list-group-item list-group-item-action griz-o">
        <i class="bi bi-house"></i> Inicio</button>
      <button routerLink="login" onclick="closeMenu()" type="button" class="list-group-item list-group-item-action griz-o">
        <i class="bi bi-person"></i> Login</button>
  
      <button routerLink="registro" onclick="closeMenu()" routerLink="criptos" type="button" class="list-group-item list-group-item-action griz-o">
        <i class="bi bi-file-earmark-person"></i> Registro</button>
  
      <button routerLink="criptos" onclick="closeMenu()" class="list-group-item list-group-item-action griz-o">
        <i class="bi bi-bar-chart"></i> Criptomonedas</button>
  
      <button routerLink="guia" type="button" class="list-group-item list-group-item-action griz-o">
        <i class="bi bi-book"></i> Guia de uso</button>
  
      <button routerLink="politicas" type="button" class="list-group-item list-group-item-action griz-o">
        <i class="bi bi-file-lock"></i> Politicas de privacidad</button>
    </div>
  
    <div class="list-group list-group-flush mt-3">
  
      <button routerLink="remesas" type="button" class="list-group-item list-group-item-action" disabled>
        <i class="bi bi-arrow-left-right"></i> Remesas</button>
  
      <button routerLink="electronicos" type="button" class="list-group-item list-group-item-action" disabled>
        <i class="bi bi-cash"></i> Electronicos</button>
    </div>
  </div> -->