<div class="nube">

  <app-navbar></app-navbar>

    

  <div class="container pt-3 pb-3">
    
      <div class="row">
          <div class="col-12 col-md-6 pb-4">
            <div class="mb-4">
              <h1 class="text-white title pb-3">Convierte tus Bolivares en criptos y divisas</h1>
          
              <p class="text-white pb-3">compra y vende <b class="yellow">Criptomonedas</b> de la forma mas rapida y segura</p>
          
              <button class="btn btn-primary form-control m-300 text-white"> Comenzar </button>
            </div>
              
            <div class="text-white">
                  Precio del dolar:
                  <div *ngIf="loading == true">
                      <div class="spinner-border text-light" role="status">
                          <span class="sr-only"></span>
                      </div>
                  </div>
                  <div *ngIf="loading == false"> 
                    <h2>
                      {{ dolar.precio | currency:'Bs. ' }}  
                    </h2>
                  </div>
            </div>
            
            <div class="text-white">
              Precio del Bitcoin: 
              <div *ngIf="loadingCripto == true">
                  <div class="spinner-border text-light" role="status">
                      <span class="sr-only"></span>
                  </div>
              </div>
              <div *ngIf="loading == false"> 
                <h2 class="text-yellow">
                  {{ listaCriptos[0].price*dolar.precio | currency:'Bs. ' }}  
                </h2>
              </div>
            </div>
            <div class="text-white">
              <div *ngIf="loadingCripto == true">
                  <div class="spinner-border text-light" role="status">
                      <span class="sr-only"></span>
                  </div>
              </div>
            </div>
              
          </div>
          <div class="col-12 col-md-6 text-white">
              
              <ul class="nav nav-tabs justify-content-end">
                <li class="nav-item" role="presentation">
                    <button (click)="deleteInput()" class="nav-link calc-tab active" data-bs-toggle="tab" data-bs-target="#comprar" type="button" role="tab" aria-controls="comprar" aria-selected="true"> Comprar </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button (click)="deleteInput()" class="nav-link calc-tab text-light" data-bs-toggle="tab" data-bs-target="#vender" type="button" role="tab" aria-controls="vender" aria-selected="false"> Vender </button>
                </li>
              </ul>
              <div class="text-center">
                
                  <div *ngIf="loading == true">
                    <div class="spinner-border text-light" role="status">
                        <span class="sr-only"></span>
                    </div>
                </div>
                
              </div>

              <div class="tab-content" id="myTabContent">
                <div id="comprar" role="tabpanel" aria-labelledby="comprar-tab" class="bg-calc tab-pane fade show active" *ngIf="loading == false && loadingCripto == false">
                    <h5 class="text-blue">Comprar criptos</h5>
                    <div class="calc gray">Envias:</div>
                    <div class="input-group">
                    
                      <div class="btn-group" role="group">
                        <button id="money1VES" type="button" class="border-light btn btn-light select-money2" >
                          <img class="img-flag" src="https://lipis.github.io/flag-icon-css/flags/4x3/ve.svg" alt="" srcset=""> VES
                        </button>
                      </div>
                      <input [(ngModel)]="modelCalc"
                      id="inputkeycalc2" (change)="getKey2(inputkeycalc2.value)" (keyup)="getKey2(inputkeycalc2.value)" #inputkeycalc2 type="number" class="form-control imput-change">

                    </div>
                    <div class="input-group gray w-100 py-2">
                      Recibes: <br>
                    </div>
                    <div class="input-group gray w-100 py-2">
                      <div class="btn-group " role="group">
                        
                        <button id="money1" type="button" class="border-light btn btn-light dropdown-toggle select-money3" data-bs-toggle="dropdown" aria-expanded="false">
                          <img class="img-flag" src="../../../assets/img-monedas/{{symbol}}.png" alt="" srcset=""> {{symbol}}
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                          <!-- lista de criptos -->
                          <li *ngFor="let item of listaCriptos">
                            <a (click)="changeCoin(item.symbol,item.price)" class="dropdown-item">
                              <img class="img-flag" src="../../../assets/img-monedas/{{item.symbol}}.png" alt="" srcset=""> {{ item.symbol }}
                            </a>
                          </li>
            
                        </ul>
                      </div>
                    </div>
                    <div class="">
                        <div class="row">
                            <div class="col-12 gray pt-3">
                                
                                <h3>
                                  
                                <b class="btc">{{symbol}}</b> {{ recibesVES | number:'.0-8' }}
                                </h3>
                                <!-- <h4>{{ recibesUsd | currency }} </h4> -->
                            </div>
                            <div class="col-12 py-3">
                              <button  class="btn btn-success form-control">
                                Continuar
                              </button>
                            </div>
                            
                        </div>
                    </div>
                </div>
                
                <div id="vender" role="tabpanel" aria-labelledby="vender-tab" class="tab-pane fade">
                  <div id="comprar" role="tabpanel" aria-labelledby="comprar-tab" class="bg-calc tab-pane fade show active" *ngIf="loading == false && loadingCripto == false">
                    <h5 class="text-blue">Vender Criptos</h5>
                    <div class="calc gray">Envias:</div>
                    <div class="input-group">
                    
                        <input  [(ngModel)]="modelCalc" (change)="getKey(inputkeycalc.value)" (keyup)="getKey(inputkeycalc.value)" #inputkeycalc type="number" class="form-control imput-change">
                        <div class="btn-group" role="group">
                            <button id="money1" type="button" class="border-light btn btn-light dropdown-toggle select-money" data-bs-toggle="dropdown" aria-expanded="false">
                              <img class="img-flag" src="../../../assets/img-monedas/{{symbol}}.png" alt="" srcset=""> {{symbol}}
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                              <!-- lista de criptos -->
                              <li *ngFor="let item of listaCriptos">
                                <a (click)="changeCoin(item.symbol,item.price)" class="dropdown-item">
                                  <img class="img-flag" src="../../../assets/img-monedas/{{item.symbol}}.png" alt="" srcset=""> {{ item.symbol }}
                                </a>
                              </li>
                
                            </ul>
                        </div>
                    </div>
                    <div class="">
                        <div class="row">
                            <div class="col-6 gray pt-3">
                                Recibes: 
                                <h2>
                                  
                                  {{ recibes | currency:'Bs.' }}
                                </h2>
                                <!-- <h3>{{ recibesUsd | currency }} </h3> -->
                            </div>
                            <div class="col-12">
                              <button  class="btn btn-success form-control">
                                Continuar
                              </button>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
              </div>


              
          </div>
      </div>
  </div>
</div>
<div class="container-fluid bg-white pt-5 pb-5">
    <div class="row">
        <div class="col-12 col-md-4 text-center p-4">
            <h1 class="text-blue title2">Criptos</h1>
            <p>En criptoclouds puedes cambiar una gran variedad de criptomonedas</p>
            <img src="../../../assets/cripto-img.svg" class="diseno" alt="" srcset="">
            <button class="btn btn-primary form-control text-white">Ver criptos</button>
        </div>
        <div class="col-12 col-md-4 text-center p-4">
            <h1 class="text-blue title2">Resguarda</h1>
            <p>Convierte tus bolivares en dolares y retirarlos cuando los necesites</p>
            <img src="../../../assets/resguarda.svg" class="diseno" alt="" srcset="">
            <button class="btn btn-primary form-control text-white">Resguardar</button>
        </div>
        <div class="col-12 col-md-4 text-center py-4">
            <h1 class="text-blue title2">Remesas</h1>
            <p>Envia remesas a tus familiares y amigo desde cualquier parte del mundo</p>
            <img src="../../../assets/remesas.svg" class="diseno" alt="" srcset="">
            <button routerLink="remesas" class="btn btn-primary form-control text-white">Saber Mas</button>
        </div>
    </div>
</div>

<app-footer></app-footer>