<app-navbar></app-navbar>
<div class="container p-3 mb-3">
    <div class="row">
        <div class="col-12 col-md-6 pb-4">
            <h1 class="text-white title pb-3">Convierte tus Bolivares en criptos y divisas</h1>
        
            <p class="text-white pb-3">compra y vende <b class="yellow">Criptomonedas</b> de la forma mas rapida y segura</p>
        
            <button class="btn btn-primary form-control m-300 text-white"> Comenzar </button>
        </div>
        <div class="col-12 col-md-6 text-white">
            <app-calc></app-calc>
        </div>
    </div>
</div>
<div class="container-fluid bg-white pt-5">
    <div class="row">
        <div class="col-12 col-md-4 text-center p-4">
            <h1 class="text-blue title2">Criptos</h1>
            <p>En criptoclouds puedes cambiar una gran variedad de criptomonedas</p>
            <img src="../../../assets/cripto-img.svg" class="diseno" alt="" srcset="">
            <button class="btn btn-primary form-control text-white">Ver criptos</button>
        </div>
        <div class="col-12 col-md-4 text-center p-4">
            <h1 class="text-blue title2">Resguarda</h1>
            <p>Convierte tus bolivares en dolares y retirarlos cuando los necesites</p>
            <img src="../../../assets/resguarda.svg" class="diseno" alt="" srcset="">
            <button class="btn btn-primary form-control text-white">Resguardar</button>
        </div>
        <div class="col-12 col-md-4 text-center py-4">
            <h1 class="text-blue title2">Remesas</h1>
            <p>Envia remesas a tus familiares y amigo desde cualquier parte del mundo</p>
            <img src="../../../assets/remesas.svg" class="diseno" alt="" srcset="">
            <button routerLink="remesas" class="btn btn-primary form-control text-white">Saber Mas</button>
        </div>
    </div>
</div>

<app-footer></app-footer>