<div class="nube login">
    <app-navbar></app-navbar>
    <div class="container-fluid pb-5">
        <div class="row"> 
            <div class="col-12 col-sm-10 col-md-7 col-lg-5">
                <div class="p-3">
                    <h1 class="text-center text-white">Bienvenido</h1>
                    <div class="bg-login bg-light">
                        <div class="pt-4">
                            <div class="fondo-icono-log text-center text-light">
                                <i class="bi bi-person icono-person"></i>
                            </div>
                        </div>
                        <form (ngSubmit)="onSubmit( f )" #f="ngForm" >
                            <div *ngIf="f.submitted && f.controls['email'].errors" 
                                 class="animate__animated animate__headShake alert p-2 alert-danger text-small alert-login" role="alert">
                                <i class="bi bi-exclamation-diamond-fill"></i> Debe proporcionar un email valido
                            </div>
                            <input [(ngModel)]="user.email" name="email" [ngModelOptions]="{standalone: false}" type="email" email class="input-login form-control mb-3" placeholder="Ingrese su Email" required>
                            <div *ngIf="f.submitted && f.controls['password'].errors" 
                                 class="animate__animated animate__headShake alert p-2 alert-danger text-small alert-login" role="alert">
                                <i class="bi bi-exclamation-diamond-fill"></i> Su contraseña debe ser de 4 o mas caracteres
                            </div>
                            <input [(ngModel)]="user.password" 
                                minlength="4" 
                                name="password" 
                                [ngModelOptions]="{standalone: false}" type="password" 
                                class="input-login mb-2 form-control" placeholder="Ingrese su contraseña" 
                                required>
                            <div class="form-check mb-4">
                                <input [(ngModel)]="recuerdame" 
                                        type="checkbox"
                                        id="recuerdame"
                                        name="recuerdame" 
                                        class="form-check-input">
                                <label for="recuerdame" class="form-check-label gray">Recordar usuario</label>
                            </div>
                            <input type="submit" value="Entrar" class="form-control bg-primary text-white">
                        </form>
                        <div class="text-center mt-4 gray">
                            ¿Olvido su contraseña? <a [routerLink]="['/forgotpass']" routerLinkActive="router-link-active" >Click aqui</a>
                        </div>
                        <div class="text-center mt-2 gray">
                            ¿Aun no tienes una cuenta? <br><a [routerLink]="['//register']">Registrate aqui</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-none  col-md-6 text-center">
                <img src="../../../assets/cripto-img.svg" class="imgLogin" alt="">
            </div>
        </div>
    </div>
</div>