
<ul class="nav nav-tabs justify-content-end">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#comprar" type="button" role="tab" aria-controls="comprar" aria-selected="true"> Comprar </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link text-light" data-bs-toggle="tab" data-bs-target="#vender" type="button" role="tab" aria-controls="vender" aria-selected="false"> Vender </button>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="comprar" role="tabpanel" aria-labelledby="comprar-tab">
        cont 1
    </div>
    <div class="tab-pane fade" id="vender" role="tabpanel" aria-labelledby="vender-tab">
        cont 2

    </div>
</div>