<div class="nube login">
    <app-navbar></app-navbar>
    <div class="container-fluid pb-5">
        <div class="row">
            <div class="col-12 col-sm-10 col-md-7 col-lg-5">
                <div class="p-3">
                    <h1 class="text-center text-white">Bienvenido</h1>
                    <div class="bg-login bg-light">
                        <div class="pt-4">
                            <div class="fondo-icono-log text-center text-light">
                                <i class="bi bi-person icono-person"></i>
                            </div>
                        </div> 
                        <form (ngSubmit)="onSubmit( form )" #form="ngForm">
                            <div *ngIf="form.submitted && form.controls['email'].errors" 
                                 class="animate__animated animate__headShake alert p-2 alert-danger text-small alert-login" role="alert">
                                <i class="bi bi-exclamation-diamond-fill"></i> Debe proporcionar un email valido
                            </div>
                            <input [(ngModel)]="user.email" 
                                   name="email" 
                                   type="email" 
                                   email
                                   required
                                   class="input-login form-control mb-4" placeholder="Ingrese su Email">
                            <div *ngIf="form.submitted && form.controls['nombre'].errors" 
                                class="animate__animated animate__headShake alert p-2 alert-danger text-small alert-login" role="alert">
                                <i class="bi bi-exclamation-diamond-fill"></i> Su nombre debe contener mas de 4 letras
                            </div>
                            <input [(ngModel)]="user.nombre"
                                   name="nombre" 
                                   type="text" 
                                   required
                                   minlength="4" 
                                   class="mb-4 input-login form-control" placeholder="Nombre completo">
                            <div *ngIf="form.submitted && form.controls['cedula'].errors" 
                                class="animate__animated animate__headShake alert p-2 alert-danger text-small alert-login" role="alert">
                                <i class="bi bi-exclamation-diamond-fill"></i> La cedula es requerida
                            </div>
                            <div class="input-group mb-4">
                                <select [(ngModel)]="user.nacionalidad"
                                         class="selectCI" 
                                         name="nacionalidad">
                                    <option value="v">V</option>
                                    <option value="e">E</option>
                                </select>
                                <input  [(ngModel)]="user.cedula"
                                        name="cedula"
                                        minlength="4"
                                        required
                                        type="text" 
                                        class="input-login form-control" placeholder="Cedula" 
                                        aria-label="Text input with dropdown button">
                            </div>
                            <div *ngIf="form.submitted && form.controls['telefono'].errors" 
                                class="animate__animated animate__headShake alert p-2 alert-danger text-small alert-login" role="alert">
                                <i class="bi bi-exclamation-diamond-fill"></i> El telefono es requerido
                            </div>
                            <input  [(ngModel)]="user.telefono"
                                    name="telefono"
                                    type="text"
                                    required
                                    minlength="4" 
                                    class="mb-4 input-login form-control" placeholder="Telefono">
                            <div *ngIf="form.submitted && form.controls['password'].errors" 
                                    class="animate__animated animate__headShake alert p-2 alert-danger text-small alert-login" role="alert">
                                   <i class="bi bi-exclamation-diamond-fill"></i> Su contraseña debe ser de 4 o mas caracteres
                            </div>
                            <input  [(ngModel)]="user.password"
                                    name="password"
                                    type="password" 
                                    required
                                    minlength="4"
                                    class="input-login mb-4 form-control" placeholder="Ingrese su contraseña">
                            <div *ngIf="form.submitted && form.controls['password2'].errors" 
                                class="animate__animated animate__headShake alert p-2 alert-danger text-small alert-login" role="alert">
                                <i class="bi bi-exclamation-diamond-fill"></i> Su contraseña debe ser de 4 o mas caracteres
                            </div>
                            <input  [(ngModel)]="user.password2"
                                    name="password2"
                                    type="password" 
                                    required
                                    minlength="4"
                                    class="input-login mb-4 form-control" placeholder="Repita su contraseña">
                            <input type="submit" value="Enviar" class="form-control bg-primary text-white mt-4">
                        </form>
                        <div class="text-center mt-4 gray">
                            ¿Ya tienes una cuenta? <br><a [routerLink]="['/login']">Entra aqui</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-none  col-md-6 text-center">
                <img src="../../../assets/cripto-img.svg" class="imgLogin" alt="">
            </div>
        </div>
    </div>
</div>
 