<div class="nube login">
    <app-navbar></app-navbar>
    <div class="container-fluid py-5">
        <div class="row">
            <div class="col-12 col-sm-10 col-md-7 col-lg-5">
                <div class="p-3">
                    <h1 class="text-center text-white">Bienvenido</h1>
                    <div class="bg-login bg-light">
                        <div class="pt-4">
                            <div class="fondo-icono-log text-center text-light">
                                <i class="bi bi-person icono-person"></i>
                            </div>
                        </div>
                        <input type="text" class="input-login form-control" placeholder="Ingrese su Email">
                        <input type="text" class="input-login form-control" placeholder="Repita su Email">
                        <input type="text" class="input-login form-control" placeholder="Nombre completo">
                        <input type="text" class="input-login form-control" placeholder="Cedula de identidad">
                        <input type="text" class="input-login form-control" placeholder="Telefono">
                        <input type="password" class="input-login mt-4 form-control" placeholder="Ingrese su contraseña">
                        <input type="button" value="Entrar" class="form-control bg-primary text-white mt-4">
                        <div class="text-center mt-2 gray">
                            ¿Ya tienes una cuenta? <br><a href="#">Entra aqui</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-none  col-md-6 text-center">
                <img src="../../../assets/cripto-img.svg" class="imgLogin" alt="">
            </div>
        </div>
    </div>
</div>
