<app-navbar></app-navbar>

<div class="containermt-3">
    <div class="row">
        <div class="col-12 p-4">
            <h1>Politicas de Privacidad</h1>
            <ul>
                <li>
                    <h3>Privacidad de datos</h3>
                    <p> Al utilizar nuestros servicios, nos confías tus datos. Entendemos que es una gran
                        responsabilidad y nos esforzamos al máximo para proteger tu información y permitirte controlarla
                    </p>
                </li>
                <li>
                    <h3>No span</h3>
                    <p>Tu correo no sera usado para enviar ningun tipo de informacion span ni venta de productos o
                        servicios</p>
                </li>
                <li>
                    <h3>Subscripcion de actualizaciones</h3>
                    <p>SI y soli si estas subscrito a nuestro semanario de actualizaciones te enviaremos un coreo
                        semanalmente con las ultimas noticias y actulizaciones de nuestra plataforma que puedan ser de
                        tu interes lo que podras cancelar tu subscripcion muy facilmente a traves de un cajero o
                        directamente en las opciones de tu cuenta</p>
                </li>
                <li>
                    <h3>Transacciones</h3>
                    <p>
                        Para realizar una transaccion solo debes otorgar tus datos bancario para realizar transferencias
                        como numero de cuenta, nombre del titular, cedula y telefono, en ningun momento un cajero debe
                        pedir otro tipo de datos como usuario o clave de tu banco, de suceder debes reportarlo
                        inmediatamente con los administradores
                    </p>
                </li>
            </ul>

            <button [routerLink]="['/home']" routerLinkActive="router-link-active"  class="btn btn-primary">Regresar al home</button>
        </div>
    </div>
</div>

<app-footer></app-footer>