<app-navbar></app-navbar>

<div class="containermt-3">
    <div class="row">
        <div class="col-12 p-4">
            <h1>Politicas de Privacidad</h1>
            <ul>
                <li>
                    <h3>Privacidad de datos</h3>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, alias maxime facere nisi dolorum ab quae quos eveniet neque debitis, suscipit sint maiores repellendus aperiam nam dolor, mollitia molestiae quis. </p>
                </li>
                <li>
                    <h3>Privacidad de datos</h3>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, alias maxime facere nisi dolorum ab quae quos eveniet neque debitis, suscipit sint maiores repellendus aperiam nam dolor, mollitia molestiae quis. </p>
                </li>
                <li>
                    <h3>Privacidad de datos</h3>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, alias maxime facere nisi dolorum ab quae quos eveniet neque debitis, suscipit sint maiores repellendus aperiam nam dolor, mollitia molestiae quis. </p>
                </li>
            </ul>
                    </div>
    </div>
</div>

<app-footer></app-footer>