<app-navbar></app-navbar>
<div class="container py-3 mb-5 min80vh">
    <div class="row">
        <div class="col-12">
            <h1 class="text-white title text-center">Remesas</h1>
            <p class="text-white text-center">
                Usa tus criptos o monedas electronicas para remesar dinero a tus familiares en Bolivares
            </p>
            <h1 class="text-light text-center mt-5">Esta seccion aun no se encuentra disponible</h1>
            <div class="text-center mt-5">
                <button [routerLink]="['/home']" routerLinkActive="router-link-active"  class="btn btn-primary">Regresar al home</button>
            </div>
        </div>
       
    </div>
</div>

<app-footer class="mt-5"></app-footer>