
<!-- <app-navbar></app-navbar> -->
<div class="container">
    <div class="row">
      <div class="col-12 text-center pt-2">
        <img height="100px" class="img-logo-init mt-5" src="../../../assets/logo-criptoclouds-white.svg" alt="" srcset="">
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center pt-3">
        <h1 class="text-white text404">404</h1>
        <h1 class="text-white">La pagina que estas buscando no existe</h1>
        <p class="text-white">criptoclouds.com</p><br><br>
        <button [routerLink]="['/']" routerLinkActive="router-link-active"  class="btn btn-success shadow text-white"> Regresar a la pagina principal  </button>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center pt-5">
        <!-- <div class="spinner-border text-light" role="status">
          <span class="sr-only"></span>
        </div>
      </div> -->
    </div>
  </div>
  
