<div class="bg-calc">
    <h5 class="text-blue">Calculadora</h5>
    <div class="calc gray">Envias</div>
    <div class="input-group">
        <input type="number" class="form-control imput-change" placeholder="0.0">
        <div class="btn-group" role="group">
            <button id="money1" type="button" class="border-light btn btn-light dropdown-toggle select-money" data-bs-toggle="dropdown" aria-expanded="false">
              <img class="img-flag" src="https://lipis.github.io/flag-icon-css/flags/4x3/us.svg" alt="" srcset=""> USD
            </button>
            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <li><a class="dropdown-item" href="#">
                <img class="img-flag" src="https://lipis.github.io/flag-icon-css/flags/4x3/ve.svg" alt="" srcset=""> VES
              </a></li>
              <li><a class="dropdown-item" href="#"> <img class="img-flag" src="https://lipis.github.io/flag-icon-css/flags/4x3/us.svg" alt="" srcset=""> VES</a></li>
            </ul>
          </div>
      </div>
    <div class="">
        <div class="row">
            <div class="col-6 gray pt-3">
                Recibes
            </div>
            <div class="col-6 alinear-final">
                <button class="btn-change">
                    <img src="../../../assets/change.svg" class="change" alt="" srcset="">
                </button>
            </div>
            <div class="col-12">
                <div class="input-group">
                    <input type="number" class="form-control imput-change input-calc" placeholder="0.0" aria-describedby="btnGroupAddon">
                    <div class="btn-group" role="group">
                        <button id="money1" type="button" class="btn btn-light border-light dropdown-toggle select-money" data-bs-toggle="dropdown" aria-expanded="false">
                          <img class="img-flag" src="https://lipis.github.io/flag-icon-css/flags/4x3/ve.svg" alt="" srcset=""> VES
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                          <li><a class="dropdown-item" href="#">
                            <img class="img-flag" src="https://lipis.github.io/flag-icon-css/flags/4x3/us.svg" alt="" srcset=""> USD
                          </a></li>
                          <li><a class="dropdown-item" href="#"> <img class="img-flag" src="https://lipis.github.io/flag-icon-css/flags/4x3/ve.svg" alt="" srcset=""> VES</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 pt-3">
                <button class="btn btn-success form-control"> Continuar  </button>
            </div>
        </div>
    </div>
</div>
