<app-navbar></app-navbar>
<div class="container pt-5">
    <div class="row">
        <div class="col">
            <h2 class="text-white text-center">Calificanos!</h2>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <i (click)="calificar(1)" class="bi bi-star"></i>
            <i (click)="calificar(2)" class="bi bi-star"></i>
            <i (click)="calificar(3)" class="bi bi-star"></i>
            <i (click)="calificar(4)" class="bi bi-star"></i>
            <i (click)="calificar(5)" class="bi bi-star"></i>
        </div>
    </div>
    <div class="row">
        <div class="col text-center pt-5">
            <button [routerLink]="['/']" routerLinkActive="router-link-active"  class="btn btn-primary">
                Regresar
            </button>
        </div>
    </div>
</div>